# dependencies
node_modules/

# production
build/

# testing
coverage/

# environment variables
.env*
!.env.example

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editor
.DS_Store
.vscode/
.idea/

# misc
.pnp
.pnp.js